img {
    height: 150px;
    width: auto
}

body {
    background-color: blueviolet
}

button {
    background-color: blue;
    color: white;
    border-radius: 12px;
}

#menuEntry, #menuEntry1, #menuEntry2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    margin: 50px 50px 50px 0px;
    align-items: center;
    background-color: rgb(118, 20, 209)
}

#workout, #homeWorkout, #gym {
    width: 500px;
    height: auto
}

.homePageText {
    background-color: rgb(118, 20, 209);
}