img {
    height: 150px;
    width: auto
}

body {
    background-color: blueviolet
}

button {
    background-color: blue;
    color: white;
    border-radius: 12px;
}

#menuEntry, #menuEntry1, #menuEntry2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
}